# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars
*.auto.tfvars
override.tf
override.tf.json
*_override.tfvars
*_override.tf.json
terraform.tfvars
# OS/IDE
.DS_Store
Thumbs.db
.vscode/
